*::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #F5F7FB;
}

.questions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 75%;
  border-bottom: 1px solid rgb(176, 175, 175);
  margin-bottom: 2em;
  padding-bottom: 3em;
}

.question > p {
  font-size: 1.25rem;
  font-weight: bold;
}

.answers {
  display: flex;
  align-items: center;
  width: 100%;
}

.correct {
  background-color: green;
}

.answers-correct {
  background-color: green;
}

.answers > span {
  border: 1px solid red;
  margin-right: 2em;
  padding: .5em 1em;
}